<div class="clearfix">
  <div class="wizard-apf-content">
    <ul class="wizard-apf-steps-indicator wizard-apf-steps-{{getEnabledSteps().length}}" ng-if="!hideIndicators" ng-class="{'invisible': !wizardReady}">
      <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in getEnabledSteps()">
        <a ng-click="stepClick(step)">{{step.title}}</a>
      </li>
    </ul>
    <div ng-if="!wizardReady" class="wizard-apf-step-content" ng-style="contentStyle">
      <div class="blank-slate-pf">
        <div class="spinner spinner-lg"></div>
        <h1>Initialization in progress...</h1>
      </div>
    </div>
    <div class="wizard-apf-steps" ng-transclude></div>
  </div>
  <div class="wizard-apf-btn-container modal-footer">
    <button apf-wiz-cancel class="btn btn-default" ng-disabled="wizardDone">{{cancelTitle}}</button>
    <div class="tooltip-wrapper" tooltip="{{prevTooltip}}" tooltip-placement="left">
      <button apf-wiz-previous class="btn btn-default" ng-disabled="!wizardReady || wizardDone || !prevEnabled || firstStep"
              callback="backCallback">
        {{backTitle}}
      </button>
    </div>
    <div class="tooltip-wrapper" tooltip="{{nextTooltip}}" tooltip-placement="left">
      <button apf-wiz-next class="btn btn-primary" ng-disabled="!wizardReady || !nextEnabled"
              callback="nextCallback">
        {{nextTitle}}
      </button>
      </div>
  </div>
</div>
